spring.datasource.url=jdbc:mysql://localhost:3306/####?serverTimezone=GMT-2
spring.datasource.username=#####
spring.datasource.password=#####
spring.jpa.hibernate.ddl-auto = update


# Custom property
user.email = ########@######.##
user.password = ########
user.role = ADMIN
user.lastname = admin
user.firstname = admin