body {
	color: rgb(60, 60, 60);
	height: 100vh;
}

a {
	color: white;
}

.navbar {
	background-color: rgb(127, 51, 125);
}

.navbar-toggler {
	color: white;
}

.custom-range {
	width: 250px;
}

hr {
	width: 60%;
}

