@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* all */

html { 
    width: 100%;
    height: 100%;
    color: #3d3d3c;
}

* { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    background:#f7f7f7;
    min-height: 100vh;
}

@media (min-width:980px) {
    main {
        margin: 2% 12%;
        padding: 40px;
    }
}

main {
    min-height: 770px;
    background: #ffffff;
    padding-top: 10px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

#button{
    background-color: #7f327e;
    border-color: #7f327e;
    color: #ffffff;
}

#button:hover{
    background-color: #ffffff;
    color: #7f327e;
    transition: 0.5s;
}


/* menu */

.profile {
    height: 35px;
    background-color: #7f327e;
}

.profile a, .profile p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.profile-text {
    margin-top: 5px;
    margin-right: -1000px;
}

.right {
    margin-left: auto;
    padding-right: 20px;
}

.nav-icon {
    height: 20px;
    padding-right: 10px;
    padding-top: 7px;
}

.logo {
    height: 50px;
    background-image: url("/images/logo-ezyperf.png");
    background-repeat: no-repeat;
    background-size: 200px;
    margin-top: 5px;
    margin-left: 15px;
}

.main-nav {
    margin-top: -72px;
    height: 70px;
    position: relative;
}

.main-nav:before {
    content: '';
    position: absolute;
    width: 86%;
    height: 70px;
    background: #3d3d3c;
    transform: skewX(20deg);
    margin-left: 250px;
    z-index: -1;
}

.main-nav ul {
    list-style-type: none;
    float: right;
    padding-top:2%;
}

.main-nav li {
    float: left;
}

.main-nav li a {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
}

.main-nav li a:hover{
    color: #cf55cd;
    transition: 0.5s;
}

.deroulant{
    padding-bottom: .5rem;
    width: 100%;
    text-align: center;
}

.menu-nav, #menu-nav ul{
    list-style:none;
    text-align:center;
}

.menu-nav li{
    display:inline-block;
    position:relative;
}

.menu-nav ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left:0;
    right:0;
    overflow:hidden;
    -moz-transition: .8s all .3s;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
}

.menu-nav li:hover ul{
    max-height:20em;
}


.menu-nav li:first-child li{
    background:#3d3d3c;

}

.menu-nav li:last-child li{
    background:#3d3d3c;

}

.menu-nav li:nth-child(2) li{
    background:#3d3d3c;

}

.menu-nav ul li:last-child{
    border-radius:0 0 8px 8px;
}

/* login */

.login { 
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-95deg,  #7f337d 0%, #5bbeb6 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-95deg,  #7f337d 0%,#5bbeb6 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-95deg,  #7f337d 0%,#5bbeb6 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-95deg,  #7f337d 0%,#5bbeb6 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #7f337d 0%,#5bbeb6 100%);
}

.login-imput { 
    width: 100%; 
    background: #ffffff;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: black;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 16px; 
}

.login-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.login-container { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

.login h1 { 
    color: #ffffff;  
    letter-spacing: 1px; 
    text-align: center; 
}

.login label { 
    font-size: 20px;
    color: #ffffff; 
}

/* button */

.button {
    background-color: #5cbeb6;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 12px 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    cursor: pointer;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
    margin-bottom: 30px;
}

.button-center {
    text-align: center;
}

.button-right {
    float: right;
    margin-top: -55px;
    margin-bottom: 25px;
}

.button:hover {
    background-color: #4aa59e;
}

.button-login { 
    margin-top: 10px;
}

/* form */

.radiocreation{
    display: flex;
    justify-content: center;
    padding-top: 5%; 
}

#liste-payplan{
    margin-left: 3%;
    border-radius: 10%;
}

@media (min-width:768px) {
    .bloc {
        display: flex;
        width: 100%;
    }
}
.blocform{
    background-color: white;
    margin-left: 38%;
    margin-right: 38%; 
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5%;
    box-shadow: 1px 1px 1px #3d3d3c;
    border-color: #3d3d3c;
}

.form {
    width: 100%;
    min-width: 40%;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 25px 15px 35px;
    padding: 25px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}

.form-solo {
    max-width: 600px;
    margin: 25px auto;
}

.form label {
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    margin: 0;
    outline: 0;
    padding: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #000000;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-top: 3%;
}

textarea {
    height: 65px;
}

.infos {
    margin: 0 100px;
}

.infos p {
    margin: 5px;
}



#toDisplay {
    display: none;
}

/* table */

.contact-table {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-collapse: collapse;
}

@media (min-width:1600px) {
    .contact-table {
        width: 100%;
    }
}

.table-full {
    width: 100%;
}

td, th {
    padding: 8px 16px;
}

tr:hover {
    background-color: rgb(128, 49, 127, 0.2) ;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7f327e;
    color: white;
}

.table-coms {
    width: 100%;
    background-color: #e8eeef;
    border: none;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 325px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.coms {
    margin: 10px;
}

.coms span{
    padding-right: 20px;
}

.table-company-contacts {
    height: 450px;
}

.icon {
    border: none;
    cursor: pointer;
}

.table-icon {
    float: right;
}

.bold {
    font-weight: 700;
}

.blue {
    color: #4aa59e;
}
/* tableau product*/
td {
    border: 1px solid black;
    padding: 1rem;
}

th{
    border: 1px solid black;
    padding: 0.5rem;
}

.error{
    text-align: center;
    margin-top: 30vh;
    transform: translateY(-50%);
}