html { 
    width: 100%;
    height: 100%;
    color: #3d3d3c;
}




body {
	font-family: 'Open Sans', sans-serif;
	color: rgb(60, 60, 60);
	height: 100vh;
}

a {
	color: white;
}

a:hover{
	color:rgb(91, 190, 182);
}

.navbar {
	background-color: rgb(127, 51, 125);
}

.navbar-toggler {
	color: white;
}

.navbar-toggler-icon {
	background-color: rgb(91, 190, 182);
}

.custom-range {
	width: 250px;
}

hr {
	width: 60%;
}

.form-group {
	width: 33%;
}