<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenue sur Ezycom</title>
    <link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <h4 class="d-flex justify-content-center my-3">Tableau des produits</h4>

    <table class="product_table mt-5 d-flex justify-content-center text-center">
        <tr>
            <th>Code produit</th>
            <th>Famille</th>
            <th>Produits</th>
            <th>Vente / Abonnement</th>
            <th>Sous-Produits</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.productCode}"></td>
            <td th:text="${product.familly}"></td>
            <td th:text="${product.products}"></td>
            <td th:text="${product.subscription}"></td>
            <td th:text="${product.subProducts}"></td>
        </tr>

    </table>
    <div class="my-3 mr-3 d-flex justify-content-end ">
        <label class=" mr-2 d-flex align-items-end" for="avatar">Importer produits :</label> 
        <input type="file" id="buttonimport" name="avatar" accept="Documents/xlsx, Documents/csv">
    </div>
</body>
</html>