<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenue sur Ezycom</title>
    <link rel="icon" type="image/png" href="../static/logo.png" th:href="@{/logo.png}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

</head>

<header>
        <div class="profile">
            <div class="bloc">
                <a class="right" th:href="@{/logout}"><img class="nav-icon" th:src="@{/images/icon-logout.png}" alt="logout">Se déconnecter</a>
            </div>
        </div>
            <div class="logo"></div>
                <div class="main-nav">
                    <ul>
                        <li><a th:href="@{../users/create}">Création utilisateur</a></li>
                        <li><a th:href="@{../users/associate}">Associer un plan de rémunération</a></li>
                        <li><a th:href="@{../payplans/browse}"> Liste plan de rémunération</a></li>
                    </ul>
                </div>
            </div>    
        </div>
</header>
<body>
    <table class="product_table mt-5 d-flex justify-content-center text-center">
        <tr>
            <th>N° commande</th>
            <th>Date commande</th>
            <th>Date saisie ADV</th>
            <th>Commercial</th>
            <th>Code produit</th>
            <th>Quantité</th>
            <th>PR€ HT</th>
            <th>PV€ HT</th>
            <th>Marge</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.purchase}"></td>
            <td th:text="${product.purchaseDate}"></td>
            <td th:text="${product.advDate}"></td>
            <td th:text="${product.commercial}"></td>
            <td th:text="${product.productCode}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${product.preTaxeRealPrice}"></td>
            <td th:text="${product.preTaxeSalePrice}"></td>
            <td th:text="${product.marge}"></td>
        </tr>

    </table>
</body>
</html>