<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenue sur Ezycom</title>
    <link rel="icon" type="image/png" href="../static/logo.png" th:href="@{/logo.png}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">

</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <table class="product_table mt-5 d-flex justify-content-center text-center">
        <tr>
            <th>N° commande</th>
            <th>Date commande</th>
            <th>Date saisie ADV</th>
            <th>Commercial</th>
            <th>Code produit</th>
            <th>Quantité</th>
            <th>PR€ HT</th>
            <th>PV€ HT</th>
            <th>Marge</th>
            <th>Taux en %</th>
            <th>Commission</th>
        </tr>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.purchase}"></td>
            <td th:text="${sale.purchaseDate}"></td>
            <td th:text="${sale.advDate}"></td>
            <td th:text="${sale.commercial}"></td>
            <td th:text="${sale.productCode}"></td>
            <td th:text="${sale.quantity}"></td>
            <td th:text="${sale.preTaxeRealPrice}"></td>
            <td th:text="${sale.preTaxeSalePrice}"></td>
            <td th:text="${sale.marge}"></td>
            <td th:text="${sale.percent}"></td>
            <td th:text="${sale.commission}"></td>
        </tr>

    </table>
</body>
</html>