<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Header</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="profile">
                <div class="bloc">
                    <a class="right" href="/logout"><img class="nav-icon" src="/img/icon-logout.png" alt="logout">Se déconnecter</a>
                </div>
            </div>
            <div class="logo"></div>
            <div class="main-nav">
                <ul>
                   <li><a href="/users/create">Création utilisateur</a></li>
                </ul>
            </div>
        </header>
    </body>
</html>