<!DOCTYPE html>
<head>
    <title>header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<header>
        <div class="profile">
            <div class="bloc">
                <a class="right" th:href="@{/logout}"><img class="nav-icon" th:src="@{/images/icon-logout.png}" alt="logout">Se déconnecter</a>
            </div>
        </div>
            <div class="logo"></div>
                <div class="main-nav">
                    <ul class="menu-nav">
                        <li><a class="titre-nav" href="#">Ventes / Produits</a>
                            <ul>
                                <li class="deroulant"><a th:href="@{../sales}">Les ventes</a></li>
                                <li class="deroulant"><a th:href="@{../products}">Les produits</a></li>
                            </ul>
                        </li>  
                        <li><a class="titre-nav" href="#">Plans de rémunération</a>
                            <ul>
                                <li class="deroulant-rem"><a th:href="@{../payplans}">Liste</a></li>
                                <li class="deroulant-rem"><a th:href="@{../payplans/create}">Créer</a></li>
                            </ul>
                        </li>
                        <li><a class="titre-nav" href="#">Utilisateurs</a>
                            <ul>
                                <li class="deroulant"><a th:href="@{../users/create}">Créer</a></li>
                                <li class="deroulant"><a th:href="@{../users/associate}">Associer</a></li>
                            </ul>
                        </li>  
                    </ul>
                </div>
        </div>
</header>
</body>