<!DOCTYPE html>
<head>

</head>
<body>
<header>
        <div class="profile">
            <div class="bloc">
                <a class="right" th:href="@{/logout}"><img class="nav-icon" th:src="@{/images/icon-logout.png}" alt="logout">Se déconnecter</a>
            </div>
        </div>
            <div class="logo"></div>
                <div class="main-nav">
                    <ul>
                        <li><a th:href="@{../users/create}">Création utilisateur</a></li>
                        <li><a th:href="@{../users/associate}">Associer un payplan</a></li>
                        <li><a th:href="@{../payplans/browse}"> Liste Payplans</a></li>
                        <li><a th:href="@{../payplans/create}"> Création Payplans</a></li>
                    </ul>
        </div>
</header>
</body>