<!DOCTYPE html>
<head>
    <title>header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<header>
        <div class="profile">
            <div class="bloc">
                <a class="right" th:href="@{/logout}"><img class="nav-icon" th:src="@{/images/icon-logout.png}" alt="logout">Se déconnecter</a>
            </div>
        </div>
            <a th:href="@{../sales}"><div class="logo"></div></a>
                <div class="main-nav">
                    <ul class="menu-nav">  
                    </ul>
                </div>
        </div>
</header>
</body>