<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
		<link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
		<title>Ezycom</title>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>

		<div class="container">
			<div class="associate">
			<h4 class="my-4">Associer un commercial :</h4>
			<form action="#" th:action="@{/users/associate}" method="POST">
				<div class="form-group">
					<select class="custom-select" name="user">
						<option selected>Sélection de l'email</option>
						<option th:each="user : ${users}" th:value="${user.id}" th:text=${user.email}></option>
					</select>
				</div>
				<div class="card-group mb-5">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Sélection du plan de rémunération</h5>
							<select class="custom-select" name="payplan">
								<option selected>Sélection du plan de rémunération</option>
								<option th:each="payplan : ${payplans}" th:value="${payplan.id}" th:text=${payplan.name}></option>
							</select>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Date de début d'application</h5>
							<input type="date" name="start" >
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Date de fin d'application</h5>
							<input type="date" name="finish">
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					<button id="button" type="submit" onclick="myFunction()" class="btn btn-primary btn-lg mb-5">Valider</button>
				</div>
			</form>

			<script>
			function myFunction() {
			alert("Association effectuée.");
			}
			</script>

			</div>

			<hr/>
			<div class="historique">
			<form action="#" th:action="@{/users/associate}" method="GET">

			<h4>Historique des plans de rémunération :</h4>
			<select class="custom-select my-3" name="user">
				<option selected>Sélection de l'email</option>
				<option th:each="user : ${users}" th:value="${user.id}" th:text=${user.email}></option>
			</select>
			<div class="d-flex justify-content-center">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Nom du commercial</th>
							<th>Plan de rémunération précédant</th>
							<th>Date de début d'application</th>
							<th>Date de fin d'application</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="payplanUser : ${payplansUsers}">
							<td th:text="${payplanUser.user.email}">
								<input type="text" name="history" disabled>
							</td>				
							<td th:text="${payplanUser.payplan.name}">
								<input type="text" name="history" disabled>
							</td>				
							<td th:text="${payplanUser.start}">
								<input type="date" name="start">
							</td>
							<td th:text="${payplanUser.finish}">
								<input type="date" name="finish">
							</td>
						</tr>
					</tbody>		
				</table>
			</div>
			<div class="d-flex justify-content-center">
					<button id="button" type="submit" class="btn btn-primary btn-lg mb-5">Valider</button>
				</div>
			</form>
		</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>