<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
		<title>Paramètre de plan de rémunération</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../../static/creationcommercial.css" th:href="@{../creationcommercial.css}">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><img src="logo.png" height="30" width="30"></span> Ezycom
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link" href="../payplans/create.html" th:href="@{../payplans/create}">Nouveau plan de rémunération</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../payplans/browse.html" th:href="@{../payplans}">Edition</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Profil commercial</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../users/create.html" th:href="@{../users/create}">Création d'utilisateur</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<div class="my-4 border border-dark mx-auto w-25 d-flex align-items-center justify-content-center">
			<p class="my-2">Commercial</p>
		</div>
		<div class="col-lg-3 offset-2 pl-0 mt-5">
		<form action="#" th:action="@{/users}" th:object="${user}" method="POST">
			<div class="form-group mr-5">
				<select class="custom-select mb-5">
						<option selected>Sélection de l'email</option>
						<option th:each="user : ${users}" th:value="${user.id}" th:text=${user.email}></option>
					</select>
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<table class="table table-bordered col-lg-8 text-center">
					<thead>
						<tr>
							<th>Sélection du plan de rémunération</th>
							<th>Date de début application plan de rémunération</th>
							<th>Date de fin application plan de rémunération</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<select class="custom-select">
									<option selected>Sélection plan de rémunération</option>
									<option th:each="payplan : ${payplans}" th:value="${payplan.id}" th:text=${payplan.name}></option>
								</select>
							</td>
							<td>
								<input type="date" name="start">
							</td>
							<td>
								<input type="date" name="finish">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex justify-content-center mr-5">
				<button type="button" class="btn btn-primary btn-lg mb-5">Valider</button>
			</div>
		</form>

		<p class="ml-5">Historique des plans de rémunérations :</p>
		<div class="d-flex justify-content-center">
			<table class="table table-bordered col-lg-8 text-center">
				<thead>
					<tr>
						<th>Plan de rémunération précedant</th>
						<th>Date de début application plan de rémunération</th>
						<th>Date de fin application plan de rémunération</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="text" name="payplans" disabled>
						</td>
						<td>
							<input type="date" name="start">
						</td>
						<td>
							<input type="date" name="finish">
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>