<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Création d'utilisateur</title>
			
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
		<link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<br/>
		<div class="mb-3 d-flex justify-content-center">
		<form action="#" th:action="@{/users/create}" th:object="${user}" method="post">
			<div th:class="${#fields.hasErrors('email')}? has-error">
				<input type="email" id="email" placeholder="E-mail" th:field="*{email}">
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError"></span>
			</div>
			<div th:class="${#fields.hasErrors('password')}? has-error">
				<input type="password" placeholder="Mot de passe" th:field="*{password}">
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="fieldError"></span>
			</div> 
			
			<div class="div-group" th:class="${#fields.hasErrors('role')}? has-error" >Role :
			<br/>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="Manager" id="customRadioInline1" th:field="*{role}" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadioInline1">Manager</label>
					</div>
			<br/>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="Commercial" id="customRadioInline2" th:field="*{role}" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Commercial</label>
				</div>
			<br/>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="Administration" id="customRadioInline3" th:field="*{role}" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline3">Administration</label>
                </div>
			</div>
		</div>
		<br/>
		<div class="d-flex justify-content-center mr-5">
				
				<button type="submit" class="btn btn-primary btn-lg">Valider</button>
		</div>
    </form>
        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>