<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
		<title>Ezycom</title>
	</head>
	<body>
		<header>
			<div class="profile">
				<div class="bloc">
					<a class="right" th:href="@{/logout}"><img class="nav-icon" th:src="@{/images/icon-logout.png}" alt="logout">Se déconnecter</a>
				</div>
			</div>
			<div class="logo"></div>
			<div class="main-nav">
				<ul>
				   <li><a th:href="@{../users/create}">Création utilisateur</a></li>
				   <li><a th:href="@{../users/associate}">Associer un payplan</a></li>
				   <li><a th:href="@{../payplans/browse}"> Liste Payplans</a></li>
				</ul>
			</div>
		</header>
	<br/>
		<form action="#" th:action="@{/payplans}" th:object="${payplan}" method="post">

			<div class="mb-3 d-flex justify-content-center">
				<div class="div-group" th:class="${#fields.hasErrors('name')}? has-error">
					<label for="name">Nom du plan de rémunération :</label>
					<input type="text" id="name" th:field="*{name}" class="div-control"/>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError"></span>
				</div>
			</div> 
			
			<hr>
		
			<div class="d-flex justify-content-around mb-3">
				<div class="div-group" th:class="${#fields.hasErrors('objectiveDeadline')}? has-error" >Echéance objectif : 
					<div class="custom-control custom-radio custom-control-inline ml-1">
						<input type="radio" value="Mensuel" id="customRadioInline1" th:field="*{objectiveDeadline}" class="custom-control-input" checked>
						<label class="custom-control-label" for="customRadioInline1">Mensuel</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" value="Trimestriel" id="customRadioInline2" th:field="*{objectiveDeadline}" class="custom-control-input">
						<label class="custom-control-label" for="customRadioInline2">Trimestriel</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" value="Annuel" id="customRadioInline3" th:field="*{objectiveDeadline}" class="custom-control-input">
						<label class="custom-control-label" for="customRadioInline3">Annuel</label>
					</div>
				</div>
				<div class="d-flex justify-content-center mb-3" th:class="${#fields.hasErrors('payRate')}? has-error">
					<label for="customRange1">Taux de rémunération en % :</label>
					<input type="range" class="custom-range ml-1" min="0" max="100" step="10" th:field="*{payRate}" id="customRange1">
				</div>
			</div>
			
			<hr>

			<div class="d-flex justify-content-around mb-3">
				<div>
					<div class="custom-control custom-radio custom-control-inline" th:class="${#fields.hasErrors('typeRemuneration')}? has-error">
						<input type="radio" id="remunerationSurCa" value="Ca" name="remuneration" class="custom-control-input" th:field="*{typeRemuneration}">
						<label class="custom-control-label" for="remunerationSurCa">Rémunération sur CA</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline" th:class="${#fields.hasErrors('typeRemuneration')}? has-error">
						<input type="radio" id="remunerationSurMarge" value="Marge" name="remuneration" class="custom-control-input" th:field="*{typeRemuneration}">
						<label class="custom-control-label" for="remunerationSurMarge">Rémunération sur marge</label>
					</div>
				</div>
				<div>
					<label for="box3" th:class="${#fields.hasErrors('objectif')}? has-error">Objectif :</label>
					<input type="text" id="box3" th:field="*{objectif}">
				</div>
			</div>

			<hr>
			
			<div class="text-center">
				<div class="mb-3" th:class="${#fields.hasErrors('remunerationLocation')}? has-error"></div>
					<label for="box1">Rémunération sur contrat location / Abonnement :</label>
					<input type="text" id="box1" class="mx-2" th:field="*{remunerationLocation}">
					<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Indiquer le nombre de mois pris en compte dans la valorisation de l'affaire dans le cadre d'un contrat réccurent.">
						<button class="btn btn-outline-dark rounded-circle" type="button" disabled>i</button>
					</span>
				</div>
			</div>
			
			<hr>

			<div class="mb-3 d-flex flex-baseline justify-content-center">
				<div class="custom-control custom-switch" th:class="${#fields.hasErrors('integration')}? has-error">
					<input type="checkbox" class="custom-control-input" id="customSwitch1" th:field="*{integration}">
					<label class="custom-control-label" for="customSwitch1">Prime d'intégration</label>
					<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Le commercial bénéficiera d'une prime d'accompagnement qui supplantera le calcul des commissions sur la durée choisie.">
						<button class="btn btn-outline-dark mx-2 rounded-circle" type="button" disabled >i</button>
					</span>
				</div>
			</div>

			<div class="mb-3 d-flex justify-content-around">
				<div th:class="${#fields.hasErrors('integrationBonus')}? has-error"> 0&euro;
					<input type="range" class="custom-range mx-2" min="0" max="3000" th:field="*{integrationBonus}">
					3 000&euro;
				</div>
				<div class="ml-5" th:class="${#fields.hasErrors('integrationBonusTime')}? has-error">
					<input type="text" id="box2" placeholder="Nombre de mois" class="mx-2" th:field="*{integrationBonusTime}" >
					<label for="box2">Mois</label>
				</div>
			</div>

			<hr>

			<div class="mb-3 d-flex justify-content-center">
				<div th:class="${#fields.hasErrors('remunerationSub')}? has-error">
					<label for="customRange2">Palier plan de rémunération</label>
				</div>
				<div class="mb-5 ml-3 d-flex justify-content-center">
					<input type="range" class="custom-range mx-2" min="1" max="5" step="1" id="customRange2" th:field="*{remunerationSub}">
				</div>
			</div>

			<div class="mb-5 d-flex justify-content-center">
				<button type="button" class="btn btn-secondary mr-3">Annuler</button>
				<button type="submit" class="btn btn-primary mr-3">Valider</button>
			</div>

		</form>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>