<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="../../static/style.css" th:href="@{/style.css}">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="icon" type="image/png" href="../../static/images/logo.png" th:href="@{../images/logo.png}">
		<title>Ezycom</title>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<form action="#" th:action="@{/payplans}" th:object="${payplan}" method="post">
			
			<div class="mx-auto" style="width: 200px;">
				<div class="div-group" th:class="${#fields.hasErrors('name')}? has-error">
					<label for="name">Nom du plan de rémunération :</label>
					<input type="text" id="name" th:field="*{name}" class="div-control"/>
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="fieldError"></span>
				</div>
			</div> 
			
			<hr>
		
			<div class="d-flex justify-content-around">
				<div class="div-group" th:class="${#fields.hasErrors('objectiveDeadline')}? has-error" >Echéance objectif : 
					<div class="custom-control custom-radio custom-control-inline ml-3">
						<input type="radio" value="Mensuel" id="customRadioInline1" th:field="*{objectiveDeadline}" class="custom-control-input">
						<label class="custom-control-label" for="customRadioInline1">Mensuel</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" value="Trimestriel" id="customRadioInline2" th:field="*{objectiveDeadline}" class="custom-control-input">
						<label class="custom-control-label" for="customRadioInline2">Trimestriel</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" value="Annuel" id="customRadioInline3" th:field="*{objectiveDeadline}" class="custom-control-input">
						<label class="custom-control-label" for="customRadioInline3">Annuel</label>
					</div>
				</div>
				<div class="d-flex justify-content-around flex-baseline">
					<div th:class="${#fields.hasErrors('payRate')}? has-error">
						<label for="payRate">Taux de rémunération :</label>
						<input type="range" class="custom-range mx-2" id="payRate" th:field="*{payRate}" min="0" max="100" step="5" value="0" oninput="result.value=parseInt(payplan.value)">
						<output name="result">0</output>%
					</div>
				</div>
			</div>
			
			<hr>

			<div class="d-flex justify-content-around">
				<div class="custom-control custom-radio custom-control-inline" th:class="${#fields.hasErrors('typeRemuneration')}? has-error">
					<input type="radio" id="remunerationSurCa" value="Ca" class="custom-control-input" th:field="*{typeRemuneration}">
					<label class="custom-control-label" for="remunerationSurCa">Rémunération sur CA</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline" th:class="${#fields.hasErrors('typeRemuneration')}? has-error">
					<input type="radio" id="remunerationSurMarge" value="Marge" class="custom-control-input" th:field="*{typeRemuneration}">
					<label class="custom-control-label" for="remunerationSurMarge">Rémunération sur marge</label>
				</div>
				<div>
					<label for="box3" th:class="${#fields.hasErrors('objectif')}? has-error">Objectif :</label>
					<input type="number" id="box3" min="0" step="100" th:field="*{objectif}">
				</div>
			</div>

			<hr>
			
			<div class="d-flex justify-content-center">
				<div th:class="${#fields.hasErrors('remunerationLocation')}? has-error">
					<span>Rémunération sur contrat location / Abonnement :</span>
					<div class="custom-control custom-radio custom-control-inline ml-3">
						<input type="radio" id="customRadioInline4" value="12" class="custom-control-input" th:field="*{remunerationLocation}">
						<label class="custom-control-label" for="customRadioInline4">12 Mois</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline5" value="24" class="custom-control-input" th:field="*{remunerationLocation}">
						<label class="custom-control-label" for="customRadioInline5">24 Mois</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input type="radio" id="customRadioInline6"  value="36" class="custom-control-input" th:field="*{remunerationLocation}">
						<label class="custom-control-label" for="customRadioInline6">36 Mois</label>
					</div>
					<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Indiquer le nombre de mois pris en compte dans la valorisation de l'affaire dans le cadre d'un contrat réccurent.">
						<button class="btn btn-outline-dark rounded-circle" type="button" disabled>i</button>
					</span>
				</div>
			</div>
			
			<hr>

			<div class="d-flex flex-baseline justify-content-center">
				<div class="custom-control custom-switch" th:class="${#fields.hasErrors('integration')}? has-error">
					<input type="checkbox" class="custom-control-input" id="customSwitch1" th:field="*{integration}">
					<label class="custom-control-label" for="customSwitch1">Prime d'intégration</label>
					<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Le commercial bénéficiera d'une prime d'accompagnement qui supplantera le calcul des commissions sur la durée choisie.">
						<button class="btn btn-outline-dark mx-2 rounded-circle" type="button" disabled >i</button>
					</span>
				</div>
			</div>
			<div class="d-flex justify-content-around flex-baseline">
				<div th:class="${#fields.hasErrors('integrationBonus')}? has-error">
					<input type="range" class="custom-range mx-2" th:field="*{integrationBonus}" min="0" max="3000" step="100" value="0" oninput="resultbis.value=parseInt(payplanbis.value)">
					<output name="resultbis">0</output>&euro;
				</div>
				<div th:class="${#fields.hasErrors('integrationBonusTime')}? has-error">
					<input type="number" id="box2" placeholder="Nombre de mois" min="0" max="12" th:field="*{integrationBonusTime}">
					<label for="box2">Mois</label>
				</div>
			</div>

			<hr>

			<div class="d-flex justify-content-center">
				<div th:class="${#fields.hasErrors('remunerationSub')}? has-error">
					<label for="customRange3">Palier plan de rémunération</label>
				</div>
				<div class="d-flex justify-content-center">
					<input type="range" class="custom-range mx-3" th:field="*{remunerationSub}" min="70" max="110" step="10" id="customRange3" value="70" oninput="resultter.value=parseInt(payplanter.value)">
					<output name="resultter">70</output>%
				</div>
			</div>

			<div class="my-4 d-flex justify-content-center">
				<a th:href="@{/payplans}" class="btn btn-secondary mr-3">Annuler</a>
				<button type="submit" class="btn btn-primary mr-3">Valider</button>
			</div>

		</form>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>