<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="logo.png">
    <title>Parametre de plan de remuneration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="menupayplan.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="logo.png" height="30" width="30"></span> Ezycom
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Nouveau plan de rémunération</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Edition</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil commercial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Base de connaissance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Assistance</a>
                </li>
            </ul>
        </div>
    </nav>
    </header>
    <div class="my-4 border border-dark mx-auto w-25 d-flex align-items-center justify-content-center">
        <p class="my-2">Menu plan de rémunération</p>
    </div>
    <div class="mt-5">
        <ul>
            <li class="mb-3 d-flex justify-content-center pr-4">
                <p class="mb-3 mr-3">Plan de remuneration 1</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Modifier</button>
                <button type="button" class="btn btn-secondary">Copier</button>
                <button type="button" class="btn btn-secondary">Supprimer</button>
                </div>
            </li>
            <li class="mb-3 d-flex justify-content-center pr-4">
                <p class="mb-3 mr-3">Plan de remuneration 2</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Modifier</button>
                <button type="button" class="btn btn-secondary">Copier</button>
                <button type="button" class="btn btn-secondary">Supprimer</button>
                </div>
            </li>
            <li class="mb-3 d-flex justify-content-center pr-4">
                <p class="mb-3 mr-3">Plan de remuneration 3</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Modifier</button>
                <button type="button" class="btn btn-secondary">Copier</button>
                <button type="button" class="btn btn-secondary">Supprimer</button>
                </div>
            </li>
            <li class="mb-3 d-flex justify-content-center pr-4">
                <p class="mb-3 mr-3">Plan de remuneration 4</p>
                <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Modifier</button>
                <button type="button" class="btn btn-secondary">Copier</button>
                <button type="button" class="btn btn-secondary">Supprimer</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="m-5 d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Ajouter nouveau plan de rémunération</button>
    </div>
    <div class="d-flex justify-content-center">
        <img src="logo.png">
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>